@model DoConnectMVC.Models.Login

<form method="post">
    <h1 style="text-align:center">Login</h1>
    <div>
        <label>User_Name</label>
        <input type="text" asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" style="color:red"></span>
    </div>
    <div>
        <label>Password</label>
        <input type="text" asp-for="Password" class="form-control" />
    </div>
    <div>
        <a asp-controller="AppUser" asp-action="Index" class="btn btn-primary"> Submit</a>
        <button>Cancel</button>
    </div>
</form>
